<% if (model.get('loggedIn')) { %>
    <form id="logout_form" class="navbar-form navbar-right">
        <label>Signed in as <strong><%= model.get('userName') %></strong></label>
        <button type="submit" class="btn btn-sm btn-inverse">Sign out</button>
    </form>
<% } else { %>
    <form id="login_form" class="navbar-form navbar-right">
        <input name="username" type="text" class="input-sm" placeholder="Username">
        <input name="password" type="password" class="input-sm" placeholder="Password">
        <button type="submit" class="btn btn-sm btn-inverse">Sign in</button>
    </form>
<% } %>